@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    position:relative;
     font-family: 'Open Sans', sans-serif;
  
     overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-areas:
        'picture'
        'text';
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  
}

.box-color-one {
    background-color: #FED8B1;
}

.box-color-two {
    background-color: #ECB176;
}

.box-color-three {
    background-color: #A67B5B;
}

.box-color-four {
    background-color: #6F4E37;
}

.text {
    padding: 50px;
    font-size: 19px;
}

.text-white {
    color: #fff;
}

p {
    line-height: 1.5;
}

h2 {
    font-size: 32px;
    margin-bottom: 10px;
}


img {
    max-width: 100%;
    height: 100%;
    display: block;
}

.open-hours-container{
    max-width: 633px;
    width: 100%;
    padding: 50px 0px;
}

.opening-hours{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;  
    
}


@media screen and (max-width: 787px) {
    .container {
        display: grid;
        grid-template-areas:
            'text'
            'picture';
        grid-template-columns: 1fr;
    }
        
       .open-hours-container{
        padding: 10px 20px;
       }     

    .text {
        grid-area: text;
    }

    .picture {
        grid-area: picture;
    }

    
}